In [1]:
import os 
os.getcwd()

'd:\\Ineuron\\Project\\Adult_Census_Income_Prediction\\notebook'

In [2]:
os.chdir("d:\\Ineuron\Project\\Adult_Census_Income_Prediction")

In [3]:
os.getcwd()

'd:\\Ineuron\\Project\\Adult_Census_Income_Prediction'

In [4]:
schema_file_path = os.path.join("config","schema.yaml")

In [5]:
schema_file_path

'config\\schema.yaml'

In [8]:
import yaml

In [13]:
config_schema_info  = None

with open(schema_file_path,"rb") as schema_yaml_file:
    config_schema_info = yaml.safe_load(schema_yaml_file)

In [14]:
config_schema_info

{'columns': {'age': 'int64',
  'workclass': 'object',
  'fnlwgt': 'int64',
  'education': 'object',
  'education-num': 'int64',
  'marital-status': 'object',
  'occupation': 'object',
  'relationship': 'object',
  'race': 'object',
  'sex': 'object',
  'capital-gain': 'int64',
  'capital-loss': 'int64',
  'hours-per-week': 'int64',
  'country': 'object',
  'salary': 'object'},
 'numerical_columns': ['age',
  'fnlwgt',
  'education-num',
  'capital-gain',
  'capital-loss',
  'hours-per-week'],
 'categorical_columns': ['workclass',
  'education',
  'marital-status',
  'occupation',
  'relationship',
  'race',
  'sex',
  'country'],
 'target_column': 'salary',
 'threshold': 0.7}

In [7]:
config_file_path = os.path.join("config","config.yaml")

In [8]:
config_file_path

'config\\config.yaml'

In [9]:
import yaml

In [10]:
config_info  = None

with open(config_file_path,"rb") as yaml_file:
    config_info = yaml.safe_load(yaml_file)

In [1]:
import pandas as pd

In [11]:
config_info

{'training_pipeline_config': {'pipeline_name': 'incomeprediction',
  'artifact_dir': 'artifact'},
 'data_ingestion_config': {'dataset_download_url': 'D:\\Ineuron\\Project\\Datasets\\adultincomeprediction.csv',
  'raw_data_dir': 'raw_data',
  'ingested_dir': 'ingested_data',
  'ingested_train_dir': 'train',
  'ingested_test_dir': 'test'},
 'data_validation_config': {'schema_dir': 'config',
  'schema_file_name': 'schema.yaml',
  'report_file_name': 'report.json',
  'report_page_file_name': 'report.html'},
 'data_transformation_config': {'transformed_dir': 'transformed_data',
  'transformed_train_dir': 'train',
  'transformed_test_dir': 'test',
  'preprocessing_dir': 'preprocessed',
  'preprocessed_object_file_name': 'preprocessed.pkl'},
 'model_trainer_config': {'trained_model_dir': 'trained_model',
  'model_file_name': 'model.pkl',
  'base_accuracy': 0.6,
  'model_config_dir': 'config',
  'model_config_file_name': 'model.yaml'},
 'model_evaluation_config': {'model_evaluation_file_name': 'model_evaluation.yaml'},
 'model_pusher_config': {'model_export_dir': 'saved_models'}}

In [12]:
config_info["training_pipeline_config"]

{'pipeline_name': 'incomeprediction', 'artifact_dir': 'artifact'}

In [13]:
from incomeprediction.constant import *

In [14]:
TRAINING_PIPELINE_CONFIG_KEY

'training_pipeline_config'

In [15]:
config_info[TRAINING_PIPELINE_CONFIG_KEY]

{'pipeline_name': 'incomeprediction', 'artifact_dir': 'artifact'}

In [16]:
config_info[TRAINING_PIPELINE_CONFIG_KEY][TRAINING_PIPELINE_NAME_KEY]

'incomeprediction'

In [17]:
ROOT_DIR

'd:\\Ineuron\\Project\\Adult_Census_Income_Prediction'

In [18]:
training_pipeline_config = config_info[TRAINING_PIPELINE_CONFIG_KEY]
artifact_dir = os.path.join(ROOT_DIR,
training_pipeline_config[TRAINING_PIPELINE_NAME_KEY],
training_pipeline_config[TRAINING_PIPELINE_ARTIFACT_DIR_KEY]
)

In [19]:
artifact_dir

'd:\\Ineuron\\Project\\Adult_Census_Income_Prediction\\incomeprediction\\artifact'

In [23]:
from incomeprediction.constant import DATA_INGESTION_CONFIG_KEY

In [27]:
 DATA_INGESTION_CONFIG_KEY

'data_ingestion_config'

In [32]:
from incomeprediction.logger import logging
from incomeprediction.constant import *
from incomeprediction.util.util import read_yaml_file
from incomeprediction.entity.config_entity import *
from incomeprediction.exception import incomepredictionexception
import os,sys
import pandas as pd

#download_url = D:\Ineuron\Project\Datasets\adultincomeprediction.csv

In [36]:
 dataset_download_url = config_info[DATA_INGESTION_CONFIG_KEY][DATA_INGESTION_DOWNLOAD_URL_KEY]

In [37]:
dataset_download_url

'D:\\Ineuron\\Project\\Datasets\\adultincomeprediction.csv'

In [38]:
raw_data_dir = config_info[DATA_INGESTION_CONFIG_KEY][DATA_INGESTION_RAW_DATA_DIR_KEY]

In [40]:
raw_data_dir1 = os.path.join(ROOT_DIR,raw_data_dir)

In [41]:
raw_data_dir1

'd:\\Ineuron\\Project\\Adult_Census_Income_Prediction\\raw_data'

In [317]:
import pandas as pd
train_df = pd.read_csv(F"D:\\Ineuron\\Project\\Adult_Census_Income_Prediction\\incomeprediction\\artifact\data_ingestion\\22-08-08--11-50-12\\ingested_data\\train\\adultincomeprediction.csv", na_values= " ?")

In [318]:
train_df.shape

(22792, 15)

In [319]:
train_df.isnull().sum()

age                  0
workclass         1267
fnlwgt               0
education            0
education-num        0
marital-status       0
occupation        1274
relationship         0
race                 0
sex                  0
capital-gain         0
capital-loss         0
hours-per-week       0
country            405
salary               0
dtype: int64

In [320]:
# import numpy as np
# from sklearn.impute import SimpleImputer
# imp_mode = SimpleImputer(strategy='most_frequent')
# imp_mode.fit(train_df)

In [321]:
null_columns = train_df.loc[:, train_df.isnull().any()].columns.to_list()
null_columns

['workclass', 'occupation', 'country']

In [322]:
#cols = ["workclass", "native-country"]
train_df[null_columns]=train_df[null_columns].fillna(train_df.mode().iloc[0])

In [323]:
train_df.isnull().sum()

age               0
workclass         0
fnlwgt            0
education         0
education-num     0
marital-status    0
occupation        0
relationship      0
race              0
sex               0
capital-gain      0
capital-loss      0
hours-per-week    0
country           0
salary            0
dtype: int64

In [324]:
train_df.describe()

,age,fnlwgt,education-num,capital-gain,capital-loss,hours-per-week
count,22792.000000,2.279200e+04,22792.000000,22792.000000,22792.000000,22792.000000
mean,38.568050,1.896914e+05,10.091216,1045.572613,89.470648,40.384565
std,13.645603,1.056332e+05,2.578429,7144.535491,406.839418,12.288751
min,17.000000,1.228500e+04,1.000000,0.000000,0.000000,1.000000
25%,28.000000,1.177890e+05,9.000000,0.000000,0.000000,40.000000
50%,37.000000,1.782330e+05,10.000000,0.000000,0.000000,40.000000
75%,48.000000,2.373080e+05,12.000000,0.000000,0.000000,45.000000
max,90.000000,1.484705e+06,16.000000,99999.000000,4356.000000,99.000000

In [325]:
train_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 22792 entries, 0 to 22791
Data columns (total 15 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   age             22792 non-null  int64
 1   workclass       22792 non-null  object
 2   fnlwgt          22792 non-null  int64
 3   education       22792 non-null  object
 4   education-num   22792 non-null  int64
 5   marital-status  22792 non-null  object
 6   occupation      22792 non-null  object
 7   relationship    22792 non-null  object
 8   race            22792 non-null  object
 9   sex             22792 non-null  object
 10  capital-gain    22792 non-null  int64
 11  capital-loss    22792 non-null  int64
 12  hours-per-week  22792 non-null  int64
 13  country         22792 non-null  object
 14  salary          22792 non-null  object
dtypes: int64(6), object(9)
memory usage: 2.6+ MB

In [326]:
for col in train_df.columns:
    if train_df[col].dtype == 'object':
        print(col)
    else:
        pass

workclass
education
marital-status
occupation
relationship
race
sex
country
salary

In [327]:
from sklearn.preprocessing import LabelEncoder
for col in train_df.columns:
    if train_df[col].dtype == 'object':
        le = LabelEncoder()
        train_df[col] = le.fit_transform(train_df[col].astype(str))

In [328]:
train_df.head()

,age,workclass,fnlwgt,education,education-num,marital-status,occupation,relationship,race,sex,capital-gain,capital-loss,hours-per-week,country,salary
0,34,5,56460,11,9,2,4,5,4,0,0,2179,12,38,0
1,48,5,243631,15,10,2,2,0,0,1,7688,0,40,38,1
2,23,6,56402,15,10,2,9,0,4,1,0,0,30,38,0
3,56,1,255406,11,9,0,3,1,4,0,0,0,40,38,0
4,17,3,297246,1,7,4,8,3,4,0,0,0,9,38,0

In [329]:
train_df.describe().T

,count,mean,std,min,25%,50%,75%,max
age,22792.0,38.568050,13.645603,17.0,28.0,37.0,48.0,90.0
workclass,22792.0,3.100123,1.108234,0.0,3.0,3.0,3.0,7.0
fnlwgt,22792.0,189691.382810,105633.215138,12285.0,117789.0,178233.0,237308.0,1484705.0
education,22792.0,10.296815,3.868415,0.0,9.0,11.0,12.0,15.0
education-num,22792.0,10.091216,2.578429,1.0,9.0,10.0,12.0,16.0
marital-status,22792.0,2.610653,1.502063,0.0,2.0,2.0,4.0,6.0
occupation,22792.0,6.116313,3.968607,0.0,3.0,6.0,9.0,13.0
relationship,22792.0,1.442348,1.605438,0.0,0.0,1.0,3.0,5.0
race,22792.0,3.661548,0.851101,0.0,4.0,4.0,4.0,4.0
sex,22792.0,0.669489,0.470407,0.0,0.0,1.0,1.0,1.0
capital-gain,22792.0,1045.572613,7144.535491,0.0,0.0,0.0,0.0,99999.0
capital-loss,22792.0,89.470648,406.839418,0.0,0.0,0.0,0.0,4356.0
hours-per-week,22792.0,40.384565,12.288751,1.0,40.0,40.0,45.0,99.0
country,22792.0,36.385618,6.101736,0.0,38.0,38.0,38.0,40.0
salary,22792.0,0.242497,0.428603,0.0,0.0,0.0,0.0,1.0

In [330]:
train_df.head()

,age,workclass,fnlwgt,education,education-num,marital-status,occupation,relationship,race,sex,capital-gain,capital-loss,hours-per-week,country,salary
0,34,5,56460,11,9,2,4,5,4,0,0,2179,12,38,0
1,48,5,243631,15,10,2,2,0,0,1,7688,0,40,38,1
2,23,6,56402,15,10,2,9,0,4,1,0,0,30,38,0
3,56,1,255406,11,9,0,3,1,4,0,0,0,40,38,0
4,17,3,297246,1,7,4,8,3,4,0,0,0,9,38,0

In [343]:
from sklearn.preprocessing import StandardScaler
scaler = StandardScaler()
scaled_data = scaler.fit_transform(train_df)

In [347]:
df = pd.DataFrame(scaled_data)
df.describe()

,0,1,2,3,4,5,6,7,8,9,10,11,12,13,14
count,2.279200e+04,2.279200e+04,2.279200e+04,2.279200e+04,2.279200e+04,2.279200e+04,2.279200e+04,2.279200e+04,2.279200e+04,2.279200e+04,2.279200e+04,2.279200e+04,2.279200e+04,2.279200e+04,2.279200e+04
mean,1.906357e-16,1.932856e-17,1.122303e-17,-2.456597e-16,1.783215e-16,7.856124e-17,-4.115112e-17,-9.321353e-17,4.052762e-17,-8.729026e-17,-8.105524e-18,7.606723e-17,-7.419672e-17,-3.129979e-16,-1.854918e-17
std,1.000022e+00,1.000022e+00,1.000022e+00,1.000022e+00,1.000022e+00,1.000022e+00,1.000022e+00,1.000022e+00,1.000022e+00,1.000022e+00,1.000022e+00,1.000022e+00,1.000022e+00,1.000022e+00,1.000022e+00
min,-1.580621e+00,-2.797415e+00,-1.679493e+00,-2.661824e+00,-3.525951e+00,-1.738082e+00,-1.541207e+00,-8.984338e-01,-4.302226e+00,-1.423243e+00,-1.463490e-01,-2.199212e-01,-3.204999e+00,-5.963289e+00,-5.657980e-01
25%,-7.744826e-01,-9.034647e-02,-6.806946e-01,-3.352389e-01,-4.232189e-01,-4.065516e-01,-7.852582e-01,-8.984338e-01,3.976726e-01,-1.423243e+00,-1.463490e-01,-2.199212e-01,-3.129473e-02,2.645833e-01,-5.657980e-01
50%,-1.149150e-01,-9.034647e-02,-1.084757e-01,1.817801e-01,-3.537743e-02,-4.065516e-01,-2.930885e-02,-2.755372e-01,3.976726e-01,7.026207e-01,-1.463490e-01,-2.199212e-01,-3.129473e-02,2.645833e-01,-5.657980e-01
75%,6.912232e-01,-9.034647e-02,4.507830e-01,4.402895e-01,7.403056e-01,9.249793e-01,7.266405e-01,9.702560e-01,3.976726e-01,7.026207e-01,-1.463490e-01,-2.199212e-01,3.755904e-01,2.645833e-01,-5.657980e-01
max,3.769205e+00,3.519078e+00,1.225980e+01,1.215818e+00,2.291672e+00,2.256510e+00,1.734573e+00,2.216049e+00,3.976726e-01,7.026207e-01,1.385053e+01,1.048724e+01,4.769950e+00,5.923661e-01,1.767415e+00

In [354]:
df.columns = train_df.columns

In [355]:
df.head()

,age,workclass,fnlwgt,education,education-num,marital-status,occupation,relationship,race,sex,capital-gain,capital-loss,hours-per-week,country,salary
0,-0.334771,1.714366,-1.261292,0.181780,-0.423219,-0.406552,-0.533275,2.216049,0.397673,-1.423243,-0.146349,5.136118,-2.309851,0.264583,-0.565798
1,0.691223,1.714366,0.510642,1.215818,-0.035377,-0.406552,-1.037241,-0.898434,-4.302226,0.702621,0.929742,-0.219921,-0.031295,0.264583,1.767415
2,-1.140909,2.616722,-1.261841,1.215818,-0.035377,-0.406552,0.726640,-0.898434,0.397673,0.702621,-0.146349,-0.219921,-0.845065,0.264583,-0.565798
3,1.277505,-1.895059,0.622115,0.181780,-0.423219,-1.738082,-0.785258,-0.275537,0.397673,-1.423243,-0.146349,-0.219921,-0.031295,0.264583,-0.565798
4,-1.580621,-0.090346,1.018212,-2.403314,-1.198902,0.924979,0.474657,0.970256,0.397673,-1.423243,-0.146349,-0.219921,-2.553982,0.264583,-0.565798

In [384]:
corr_matrix = df.corr().abs()

In [385]:
corr_matrix

,age,workclass,fnlwgt,education,education-num,marital-status,occupation,relationship,race,sex,capital-gain,capital-loss,hours-per-week,country,salary
age,1.000000,0.044989,0.076223,0.005767,0.041348,0.269857,0.002969,0.269445,0.026136,0.089279,0.077956,0.057027,0.069102,0.000241,0.235857
workclass,0.044989,1.000000,0.024128,0.007488,0.011667,0.028823,0.013613,0.057200,0.054163,0.071812,0.024716,0.002332,0.039964,0.001505,0.001351
fnlwgt,0.076223,0.024128,1.000000,0.034055,0.041946,0.031352,0.002231,0.012088,0.020626,0.024053,0.007383,0.012034,0.016227,0.058229,0.008032
education,0.005767,0.007488,0.034055,1.000000,0.358324,0.036692,0.048297,0.017122,0.015854,0.018978,0.030066,0.021414,0.061889,0.077497,0.076572
education-num,0.041348,0.011667,0.041946,0.358324,1.000000,0.070292,0.065726,0.099102,0.032523,0.020950,0.125547,0.088899,0.147670,0.092435,0.336876
marital-status,0.269857,0.028823,0.031352,0.036692,0.070292,1.000000,0.032991,0.190728,0.067525,0.126676,0.047141,0.035851,0.186486,0.025081,0.201674
occupation,0.002969,0.013613,0.002231,0.048297,0.065726,0.032991,1.000000,0.037537,0.007492,0.046564,0.017743,0.013037,0.010215,0.003753,0.035008
relationship,0.269445,0.057200,0.012088,0.017122,0.099102,0.190728,0.037537,1.000000,0.113313,0.581327,0.055617,0.060437,0.249800,0.013262,0.246956
race,0.026136,0.054163,0.020626,0.015854,0.032523,0.067525,0.007492,0.113313,1.000000,0.084983,0.005698,0.022881,0.044265,0.115976,0.072725
sex,0.089279,0.071812,0.024053,0.018978,0.020950,0.126676,0.046564,0.581327,0.084983,1.000000,0.044635,0.044469,0.231592,0.005669,0.214955
capital-gain,0.077956,0.024716,0.007383,0.030066,0.125547,0.047141,0.017743,0.055617,0.005698,0.044635,1.000000,0.032185,0.084682,0.004543,0.222450
capital-loss,0.057027,0.002332,0.012034,0.021414,0.088899,0.035851,0.013037,0.060437,0.022881,0.044469,0.032185,1.000000,0.049888,0.014540,0.148782
hours-per-week,0.069102,0.039964,0.016227,0.061889,0.147670,0.186486,0.010215,0.249800,0.044265,0.231592,0.084682,0.049888,1.000000,0.006667,0.233351
country,0.000241,0.001505,0.058229,0.077497,0.092435,0.025081,0.003753,0.013262,0.115976,0.005669,0.004543,0.014540,0.006667,1.000000,0.028148
salary,0.235857,0.001351,0.008032,0.076572,0.336876,0.201674,0.035008,0.246956,0.072725,0.214955,0.222450,0.148782,0.233351,0.028148,1.000000

In [392]:
s = corr_matrix.unstack()
so = s.sort_values(kind="quicksort")
negative_pairs = so[so < 0.5]

print(negative_pairs)

country        age               0.000241
age            country           0.000241
salary         workclass         0.001351
workclass      salary            0.001351
               country           0.001505
                                   ...
age            marital-status    0.269857
education-num  salary            0.336876
salary         education-num     0.336876
education-num  education         0.358324
education      education-num     0.358324
Length: 208, dtype: float64

In [387]:
strong_pairs = so[abs(so) > 0.5]
strong_pairs

sex             relationship      0.581327
relationship    sex               0.581327
age             age               1.000000
relationship    relationship      1.000000
hours-per-week  hours-per-week    1.000000
capital-loss    capital-loss      1.000000
capital-gain    capital-gain      1.000000
sex             sex               1.000000
race            race              1.000000
occupation      occupation        1.000000
marital-status  marital-status    1.000000
education-num   education-num     1.000000
education       education         1.000000
fnlwgt          fnlwgt            1.000000
workclass       workclass         1.000000
country         country           1.000000
salary          salary            1.000000
dtype: float64

In [363]:
#threshold = 0.7
def correlation(dataset, thres):
    col_corr = set() # Set of all the names of deleted columns
    corr_matrix = dataset.corr()
    for i in range(len(corr_matrix.columns)):
        for j in range(i):
            if (corr_matrix.iloc[i, j] >= thres) and (corr_matrix.columns[j] not in col_corr):
                colname = corr_matrix.columns[i] # getting the name of column
                col_corr.add(colname)
    print(col_corr)

In [388]:
correlation(dataset = train_df,thres = 0.5)

set()

In [390]:
df.head()

,age,workclass,fnlwgt,education,education-num,marital-status,occupation,relationship,race,sex,capital-gain,capital-loss,hours-per-week,country,salary
0,-0.334771,1.714366,-1.261292,0.181780,-0.423219,-0.406552,-0.533275,2.216049,0.397673,-1.423243,-0.146349,5.136118,-2.309851,0.264583,-0.565798
1,0.691223,1.714366,0.510642,1.215818,-0.035377,-0.406552,-1.037241,-0.898434,-4.302226,0.702621,0.929742,-0.219921,-0.031295,0.264583,1.767415
2,-1.140909,2.616722,-1.261841,1.215818,-0.035377,-0.406552,0.726640,-0.898434,0.397673,0.702621,-0.146349,-0.219921,-0.845065,0.264583,-0.565798
3,1.277505,-1.895059,0.622115,0.181780,-0.423219,-1.738082,-0.785258,-0.275537,0.397673,-1.423243,-0.146349,-0.219921,-0.031295,0.264583,-0.565798
4,-1.580621,-0.090346,1.018212,-2.403314,-1.198902,0.924979,0.474657,0.970256,0.397673,-1.423243,-0.146349,-0.219921,-2.553982,0.264583,-0.565798

In [165]:
from sklearn.pipeline import Pipeline
from sklearn.feature_selection import SelectPercentile, chi2
from sklearn.preprocessing import StandardScaler


# Create a feature-selection transform, a scaler and an instance of SVM that we
# combine together to have a full-blown estimator

data_transfromation = Pipeline(
    [ 
        ("chi-square", SelectPercentile(chi2)),
        ("scaler", StandardScaler())
    ]
)

In [166]:
x = train_df.iloc[:,:-1]
y = train_df.iloc[:,-1]

In [167]:
data_transfromation.fit(x,y)

Pipeline(steps=[('chi-square',
                 SelectPercentile(score_func=<function chi2 at 0x000001907F2BE708>)),
                ('scaler', StandardScaler())])

In [169]:
train_df.describe()

,age,workclass,fnlwgt,education,education-num,marital-status,occupation,relationship,race,sex,capital-gain,capital-loss,hours-per-week,country,salary
count,22792.000000,22792.000000,2.279200e+04,22792.000000,22792.000000,22792.000000,22792.000000,22792.000000,22792.000000,22792.000000,22792.000000,22792.000000,22792.000000,22792.000000,22792.000000
mean,38.568050,3.100123,1.896914e+05,10.296815,10.091216,2.610653,6.116313,1.442348,3.661548,0.669489,1045.572613,89.470648,40.384565,36.385618,0.242497
std,13.645603,1.108234,1.056332e+05,3.868415,2.578429,1.502063,3.968607,1.605438,0.851101,0.470407,7144.535491,406.839418,12.288751,6.101736,0.428603
min,17.000000,0.000000,1.228500e+04,0.000000,1.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,1.000000,0.000000,0.000000
25%,28.000000,3.000000,1.177890e+05,9.000000,9.000000,2.000000,3.000000,0.000000,4.000000,0.000000,0.000000,0.000000,40.000000,38.000000,0.000000
50%,37.000000,3.000000,1.782330e+05,11.000000,10.000000,2.000000,6.000000,1.000000,4.000000,1.000000,0.000000,0.000000,40.000000,38.000000,0.000000
75%,48.000000,3.000000,2.373080e+05,12.000000,12.000000,4.000000,9.000000,3.000000,4.000000,1.000000,0.000000,0.000000,45.000000,38.000000,0.000000
max,90.000000,7.000000,1.484705e+06,15.000000,16.000000,6.000000,13.000000,5.000000,4.000000,1.000000,99999.000000,4356.000000,99.000000,40.000000,1.000000

In [170]:
train_df.corr()

,age,workclass,fnlwgt,education,education-num,marital-status,occupation,relationship,race,sex,capital-gain,capital-loss,hours-per-week,country,salary
age,1.000000,0.044989,-0.076223,-0.005767,0.041348,-0.269857,-0.002969,-0.269445,0.026136,0.089279,0.077956,0.057027,0.069102,0.000241,0.235857
workclass,0.044989,1.000000,-0.024128,0.007488,0.011667,-0.028823,0.013613,-0.057200,0.054163,0.071812,0.024716,0.002332,0.039964,0.001505,0.001351
fnlwgt,-0.076223,-0.024128,1.000000,-0.034055,-0.041946,0.031352,0.002231,0.012088,-0.020626,0.024053,0.007383,-0.012034,-0.016227,-0.058229,-0.008032
education,-0.005767,0.007488,-0.034055,1.000000,0.358324,-0.036692,-0.048297,-0.017122,0.015854,-0.018978,0.030066,0.021414,0.061889,0.077497,0.076572
education-num,0.041348,0.011667,-0.041946,0.358324,1.000000,-0.070292,0.065726,-0.099102,0.032523,0.020950,0.125547,0.088899,0.147670,0.092435,0.336876
marital-status,-0.269857,-0.028823,0.031352,-0.036692,-0.070292,1.000000,0.032991,0.190728,-0.067525,-0.126676,-0.047141,-0.035851,-0.186486,-0.025081,-0.201674
occupation,-0.002969,0.013613,0.002231,-0.048297,0.065726,0.032991,1.000000,-0.037537,-0.007492,0.046564,0.017743,0.013037,-0.010215,-0.003753,0.035008
relationship,-0.269445,-0.057200,0.012088,-0.017122,-0.099102,0.190728,-0.037537,1.000000,-0.113313,-0.581327,-0.055617,-0.060437,-0.249800,-0.013262,-0.246956
race,0.026136,0.054163,-0.020626,0.015854,0.032523,-0.067525,-0.007492,-0.113313,1.000000,0.084983,0.005698,0.022881,0.044265,0.115976,0.072725
sex,0.089279,0.071812,0.024053,-0.018978,0.020950,-0.126676,0.046564,-0.581327,0.084983,1.000000,0.044635,0.044469,0.231592,0.005669,0.214955
capital-gain,0.077956,0.024716,0.007383,0.030066,0.125547,-0.047141,0.017743,-0.055617,0.005698,0.044635,1.000000,-0.032185,0.084682,0.004543,0.222450
capital-loss,0.057027,0.002332,-0.012034,0.021414,0.088899,-0.035851,0.013037,-0.060437,0.022881,0.044469,-0.032185,1.000000,0.049888,0.014540,0.148782
hours-per-week,0.069102,0.039964,-0.016227,0.061889,0.147670,-0.186486,-0.010215,-0.249800,0.044265,0.231592,0.084682,0.049888,1.000000,0.006667,0.233351
country,0.000241,0.001505,-0.058229,0.077497,0.092435,-0.025081,-0.003753,-0.013262,0.115976,0.005669,0.004543,0.014540,0.006667,1.000000,0.028148
salary,0.235857,0.001351,-0.008032,0.076572,0.336876,-0.201674,0.035008,-0.246956,0.072725,0.214955,0.222450,0.148782,0.233351,0.028148,1.000000

In [171]:
corr_matrix = train_df.corr()

In [172]:
threshold = 0.8
col_corr = set()
for i in range(len(corr_matrix.columns)):
                for j in range(i):
                    if abs(corr_matrix.iloc[i,j])> threshold:
                        colname = corr_matrix.columns[i]
                        col_corr.add(colname)

In [173]:
col_corr

set()

In [391]:
train_df.head()

,age,workclass,fnlwgt,education,education-num,marital-status,occupation,relationship,race,sex,capital-gain,capital-loss,hours-per-week,country,salary
0,34,5,56460,11,9,2,4,5,4,0,0,2179,12,38,0
1,48,5,243631,15,10,2,2,0,0,1,7688,0,40,38,1
2,23,6,56402,15,10,2,9,0,4,1,0,0,30,38,0
3,56,1,255406,11,9,0,3,1,4,0,0,0,40,38,0
4,17,3,297246,1,7,4,8,3,4,0,0,0,9,38,0