In [3]:
import pandas as pd
import numpy as np

In [1]:
csv_file_path = "D:\Ineuron\Project\Datasets\adultincomeprediction"

#df = pd.read_csv(csv_file_path)

In [5]:
import os

In [10]:
os.chdir("D:\Ineuron\Project\Datasets")
os.listdir()

['adultincomeprediction.csv']

In [12]:
df  = pd.read_csv("adultincomeprediction.csv")

In [14]:
df.head()

,age,workclass,fnlwgt,education,education-num,marital-status,occupation,relationship,race,sex,capital-gain,capital-loss,hours-per-week,country,salary
0,39,State-gov,77516,Bachelors,13,Never-married,Adm-clerical,Not-in-family,White,Male,2174,0,40,United-States,<=50K
1,50,Self-emp-not-inc,83311,Bachelors,13,Married-civ-spouse,Exec-managerial,Husband,White,Male,0,0,13,United-States,<=50K
2,38,Private,215646,HS-grad,9,Divorced,Handlers-cleaners,Not-in-family,White,Male,0,0,40,United-States,<=50K
3,53,Private,234721,11th,7,Married-civ-spouse,Handlers-cleaners,Husband,Black,Male,0,0,40,United-States,<=50K
4,28,Private,338409,Bachelors,13,Married-civ-spouse,Prof-specialty,Wife,Black,Female,0,0,40,Cuba,<=50K

In [15]:
df.dtypes.index

Index(['age', 'workclass', 'fnlwgt', 'education', 'education-num',
       'marital-status', 'occupation', 'relationship', 'race', 'sex',
       'capital-gain', 'capital-loss', 'hours-per-week', 'country', 'salary'],
      dtype='object')

In [16]:
df.dtypes.values

array([dtype('int64'), dtype('O'), dtype('int64'), dtype('O'),
       dtype('int64'), dtype('O'), dtype('O'), dtype('O'), dtype('O'),
       dtype('O'), dtype('int64'), dtype('int64'), dtype('int64'),
       dtype('O'), dtype('O')], dtype=object)

In [17]:
data_type = list(map(lambda x:str(x).replace("dtype('","").replace("')","") ,df.dtypes.values))

In [18]:
data_type

['int64',
 'object',
 'int64',
 'object',
 'int64',
 'object',
 'object',
 'object',
 'object',
 'object',
 'int64',
 'int64',
 'int64',
 'object',
 'object']

In [19]:
column=df.columns

In [20]:
column

Index(['age', 'workclass', 'fnlwgt', 'education', 'education-num',
       'marital-status', 'occupation', 'relationship', 'race', 'sex',
       'capital-gain', 'capital-loss', 'hours-per-week', 'country', 'salary'],
      dtype='object')

In [21]:
dict(zip(column,data_type))

{'age': 'int64',
 'workclass': 'object',
 'fnlwgt': 'int64',
 'education': 'object',
 'education-num': 'int64',
 'marital-status': 'object',
 'occupation': 'object',
 'relationship': 'object',
 'race': 'object',
 'sex': 'object',
 'capital-gain': 'int64',
 'capital-loss': 'int64',
 'hours-per-week': 'int64',
 'country': 'object',
 'salary': 'object'}