In [38]:
import pandas as pd
import numpy as np

In [39]:
csv_file_path = "D:\Ineuron\Project\Datasets\adultincomeprediction"

#df = pd.read_csv(csv_file_path)

In [40]:
import os

In [41]:
os.chdir("D:\Ineuron\Project\Datasets")
os.listdir()

['adultincomeprediction.csv', 'logs']

In [42]:
df  = pd.read_csv("adultincomeprediction.csv")

In [14]:
df.head()

,age,workclass,fnlwgt,education,education-num,marital-status,occupation,relationship,race,sex,capital-gain,capital-loss,hours-per-week,country,salary
0,39,State-gov,77516,Bachelors,13,Never-married,Adm-clerical,Not-in-family,White,Male,2174,0,40,United-States,<=50K
1,50,Self-emp-not-inc,83311,Bachelors,13,Married-civ-spouse,Exec-managerial,Husband,White,Male,0,0,13,United-States,<=50K
2,38,Private,215646,HS-grad,9,Divorced,Handlers-cleaners,Not-in-family,White,Male,0,0,40,United-States,<=50K
3,53,Private,234721,11th,7,Married-civ-spouse,Handlers-cleaners,Husband,Black,Male,0,0,40,United-States,<=50K
4,28,Private,338409,Bachelors,13,Married-civ-spouse,Prof-specialty,Wife,Black,Female,0,0,40,Cuba,<=50K

In [15]:
df.dtypes.index

Index(['age', 'workclass', 'fnlwgt', 'education', 'education-num',
       'marital-status', 'occupation', 'relationship', 'race', 'sex',
       'capital-gain', 'capital-loss', 'hours-per-week', 'country', 'salary'],
      dtype='object')

In [16]:
df.dtypes.values

array([dtype('int64'), dtype('O'), dtype('int64'), dtype('O'),
       dtype('int64'), dtype('O'), dtype('O'), dtype('O'), dtype('O'),
       dtype('O'), dtype('int64'), dtype('int64'), dtype('int64'),
       dtype('O'), dtype('O')], dtype=object)

In [17]:
data_type = list(map(lambda x:str(x).replace("dtype('","").replace("')","") ,df.dtypes.values))

In [18]:
data_type

['int64',
 'object',
 'int64',
 'object',
 'int64',
 'object',
 'object',
 'object',
 'object',
 'object',
 'int64',
 'int64',
 'int64',
 'object',
 'object']

In [19]:
column=df.columns

In [20]:
column

Index(['age', 'workclass', 'fnlwgt', 'education', 'education-num',
       'marital-status', 'occupation', 'relationship', 'race', 'sex',
       'capital-gain', 'capital-loss', 'hours-per-week', 'country', 'salary'],
      dtype='object')

In [21]:
dict(zip(column,data_type))

{'age': 'int64',
 'workclass': 'object',
 'fnlwgt': 'int64',
 'education': 'object',
 'education-num': 'int64',
 'marital-status': 'object',
 'occupation': 'object',
 'relationship': 'object',
 'race': 'object',
 'sex': 'object',
 'capital-gain': 'int64',
 'capital-loss': 'int64',
 'hours-per-week': 'int64',
 'country': 'object',
 'salary': 'object'}

In [43]:
from sklearn.model_selection import train_test_split

In [44]:
incompred_data_frame = pd.read_csv("adultincomeprediction.csv")
X = incompred_data_frame.iloc[:,:-1]
Y = incompred_data_frame.iloc[:,-1]

In [45]:
X_train, X_test, y_train, y_test = train_test_split(X, Y, test_size=0.3, random_state=42)

In [47]:
X_train.tail()

,age,workclass,fnlwgt,education,education-num,marital-status,occupation,relationship,race,sex,capital-gain,capital-loss,hours-per-week,country
29802,47,Private,359461,Bachelors,13,Married-civ-spouse,Craft-repair,Husband,White,Male,0,0,40,United-States
5390,31,Private,147215,12th,8,Divorced,Other-service,Unmarried,White,Female,0,0,21,United-States
860,18,Private,216284,11th,7,Never-married,Adm-clerical,Own-child,White,Female,0,0,20,United-States
15795,50,Self-emp-not-inc,54261,HS-grad,9,Married-civ-spouse,Farming-fishing,Husband,White,Male,0,0,84,United-States
23654,34,Self-emp-inc,127651,Bachelors,13,Divorced,Farming-fishing,Not-in-family,White,Male,0,0,60,United-States

In [48]:
y_train

19749     <=50K
1216       >50K
27962     <=50K
23077     <=50K
10180     <=50K
          ...
29802     <=50K
5390      <=50K
860       <=50K
15795     <=50K
23654     <=50K
Name: salary, Length: 22792, dtype: object

In [49]:
y_train_new = pd.DataFrame(y_train)

In [50]:
y_train_new

       salary
19749   <=50K
1216     >50K
27962   <=50K
23077   <=50K
10180   <=50K
...       ...
29802   <=50K
5390    <=50K
860     <=50K
15795   <=50K
23654   <=50K

[22792 rows x 1 columns]

In [23]:
X_test

,age,workclass,fnlwgt,education,education-num,marital-status,occupation,relationship,race,sex,capital-gain,capital-loss,hours-per-week,country
14160,27,Private,160178,Some-college,10,Divorced,Adm-clerical,Not-in-family,White,Female,0,0,38,United-States
27048,45,State-gov,50567,HS-grad,9,Married-civ-spouse,Exec-managerial,Wife,White,Female,0,0,40,United-States
28868,29,Private,185908,Bachelors,13,Married-civ-spouse,Exec-managerial,Husband,Black,Male,0,0,55,United-States
5667,30,Private,190040,Bachelors,13,Never-married,Machine-op-inspct,Not-in-family,White,Female,0,0,40,United-States
7827,29,Self-emp-not-inc,189346,Some-college,10,Divorced,Craft-repair,Not-in-family,White,Male,2202,0,50,United-States
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
32476,35,Private,30673,12th,8,Married-civ-spouse,Craft-repair,Husband,White,Male,0,0,84,United-States
21100,24,Private,51973,Bachelors,13,Never-married,Prof-specialty,Own-child,White,Female,0,0,20,United-States
27131,24,Private,442274,HS-grad,9,Never-married,Exec-managerial,Own-child,White,Male,0,0,40,United-States
25526,56,Private,178353,Some-college,10,Married-civ-spouse,Prof-specialty,Husband,White,Male,0,0,40,United-States
21385,44,Private,198096,Bachelors,13,Married-civ-spouse,Sales,Husband,White,Male,7688,0,40,United-States

In [51]:
frame = [X_train,y_train_new]
strat_train_set = pd.concat(frame, axis = 1)

In [52]:
strat_train_set

,age,workclass,fnlwgt,education,education-num,marital-status,occupation,relationship,race,sex,capital-gain,capital-loss,hours-per-week,country,salary
19749,34,Self-emp-not-inc,56460,HS-grad,9,Married-civ-spouse,Farming-fishing,Wife,White,Female,0,2179,12,United-States,<=50K
1216,48,Self-emp-not-inc,243631,Some-college,10,Married-civ-spouse,Craft-repair,Husband,Amer-Indian-Eskimo,Male,7688,0,40,United-States,>50K
27962,23,State-gov,56402,Some-college,10,Married-civ-spouse,Prof-specialty,Husband,White,Male,0,0,30,United-States,<=50K
23077,56,Local-gov,255406,HS-grad,9,Divorced,Exec-managerial,Not-in-family,White,Female,0,0,40,United-States,<=50K
10180,17,Private,297246,11th,7,Never-married,Priv-house-serv,Own-child,White,Female,0,0,9,United-States,<=50K
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
29802,47,Private,359461,Bachelors,13,Married-civ-spouse,Craft-repair,Husband,White,Male,0,0,40,United-States,<=50K
5390,31,Private,147215,12th,8,Divorced,Other-service,Unmarried,White,Female,0,0,21,United-States,<=50K
860,18,Private,216284,11th,7,Never-married,Adm-clerical,Own-child,White,Female,0,0,20,United-States,<=50K
15795,50,Self-emp-not-inc,54261,HS-grad,9,Married-civ-spouse,Farming-fishing,Husband,White,Male,0,0,84,United-States,<=50K
23654,34,Self-emp-inc,127651,Bachelors,13,Divorced,Farming-fishing,Not-in-family,White,Male,0,0,60,United-States,<=50K

In [36]:
#y_train_new = pd.DataFrame(y_train)
y_test_new = pd.DataFrame(y_test)
y_frame = [X_test,y_test_new]
strat_test_set = pd.concat(y_frame)

In [37]:
strat_test_set

,age,workclass,fnlwgt,education,education-num,marital-status,occupation,relationship,race,sex,capital-gain,capital-loss,hours-per-week,country,salary
14160,27.0,Private,160178.0,Some-college,10.0,Divorced,Adm-clerical,Not-in-family,White,Female,0.0,0.0,38.0,United-States,NaN
27048,45.0,State-gov,50567.0,HS-grad,9.0,Married-civ-spouse,Exec-managerial,Wife,White,Female,0.0,0.0,40.0,United-States,NaN
28868,29.0,Private,185908.0,Bachelors,13.0,Married-civ-spouse,Exec-managerial,Husband,Black,Male,0.0,0.0,55.0,United-States,NaN
5667,30.0,Private,190040.0,Bachelors,13.0,Never-married,Machine-op-inspct,Not-in-family,White,Female,0.0,0.0,40.0,United-States,NaN
7827,29.0,Self-emp-not-inc,189346.0,Some-college,10.0,Divorced,Craft-repair,Not-in-family,White,Male,2202.0,0.0,50.0,United-States,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
32476,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,<=50K
21100,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,<=50K
27131,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,<=50K
25526,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,>50K
21385,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,>50K